/*Обнуление*/
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	min-height:100vh;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-style: 14px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    height: 100%;
    height: 86vh;
}
.inner-header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background: #C03737;
    height: 50px;
}
.inner-header-profile{
    display: flex;
    align-items: center;
}
.profileImageFrame{
    height: 40px;
    width: 40px;
    min-width: 40px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid white;
}
.profileImage{
    width: 100%;
    height: 100%;
}
.menubutton{
    margin-left: 15px;
    background: none;
    width: 50px;
    height: 50px;
}
.profilebutton{
    margin-right: 15px;
    margin-left: 10px;
    background: none;
    width: auto;
    height: auto;
}
.profilebutton{
    text-transform: capitalize;
    font-weight: bold;
    color: white;
    display: block;
}
.menuHide{
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    z-index: 1;
}
.subjectsMenuBlock{
    display: none;
    position: absolute;
    border-bottom: 1px solid #dadada;
    border-right: 1px solid #dadada;
    border-left: 1px solid #dadada;
    align-items: center;
    height: 35px;
    width: 230px;
    z-index: 900;
    left: 0;
    top: 0;
}
.subjectMenuLink{
    padding: 10px;
    text-align: center;
    display: block;
    width: 230px;
    height: 35px;
    color: black;
    background: white;
    border-bottom: 1px solid #dadada;
    border-right: 1px solid #dadada;
    border-left: 1px solid #dadada;
    font-weight: bold;
    text-decoration: none;
}
.row{
    position: relative;

    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    flex: 1 0 auto;
    align-items: center;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profileMenuBlock{
    display: none;
    position: absolute;
    z-index: 1000;
    top: 0px;
    right: 0px;
    width: 200px;
}
.profileMenuBtn{
    border-radius: 0;
    background-color: white;
    border-bottom: 1px solid #dadada;
    border-right: 1px solid #dadada;
    border-left: 1px solid #dadada;
    color: black;
}
.profileMenuBtn:hover{
    background-color: #C03737;
    color: white;
}
.content{
    flex-direction: column;
}

input{
    border: 1px solid #dadada;
    border-radius: 4px;
    outline: none;
    height: 35px;
    padding-left: 16px;
    width: 100%;
}
button{
    border: none;
    border-radius: 4px;
    outline: none;
    height: 35px;
    width: 100%;
    background: #0095f6;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.footer-title{
    line-height: 1.5;
    font-size: 10px;
    margin-top: 20px;
    text-align: center;
    color: gray;
}
.footer{
    text-align: center;
    flex: 0 0 auto;
    border-top: 1px solid #dadada;
    height: 70px;
}
.inner-footer{
    flex: 1;
}
.tutorialBlock{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.headText1{
    text-transform: uppercase;
}
.headText2{
    margin-top: 10px;
    font-family: Lobster;
    font-size: 35px;
    color: #C03737;
}
.tutTitle{
    margin-top: 25px;
    text-transform: uppercase;
}
.tutorialNumber{
    margin-top: 20px;
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
    background: #C03737;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
    border-radius: 50%;
}

@media (max-width: 900px)
{
.tutorialNumber{
        width: 60px;
        height: 60px;
        min-width: 60px;
        min-height: 60px;
        font-size: 30px;
    }
}